:root{
	--mainColor:#5f7946;
	--secondaryColor:#80b34e;
	--navColor: #b4faaa;
	--formColor: #5f7946;

	--borderColor:#161914;

	--mainText:rgb(0, 0, 0);
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#5f7946;


}